<div class="main-page-container">
  <div class="header-container">
    <div class="logo-icon-container">
        <img class="logo-icon" src="assets/images/logo_black.svg"/>
    </div>
    <div class="header-menu-container">
      <ul class="menu-list">
        <li class="menu-list-item">
          <a>Главная</a>
        </li>
        <li class="menu-list-item">
          <a>Услуги</a>
        </li>
        <li class="menu-list-item">
          <a>Опыт</a>
        </li>
        <li class="menu-list-item">
          <a>Контакты</a>
        </li>
      </ul>
       <div class="contacts-container">
         <div class="telephone">+7 (863) 291-01-58</div>
         <div class="telephone">+7 (928) 911-17-61</div>
         <a class="email" href="mailto: instroyrv@yandex.ru">instroyrv@yandex.ru</a>
       </div>
    </div>
  </div>

  <div class="first-section">
    <div class="first-section__main-container">
      <div class="text-rect">
        <div class="text-rect__primary-text">
          Инстрой:<br> начиная с проектирования <br> и до сдачи объекта <br> мы вместе с теми,<br>  кто обратился к нам
        </div>
        <div class="text-rect__secondary-text">
          Строим не только здания, но и многолетние партнерские отношения с нашими клиентами.
        </div>

        <a class="text-rect__link">
          <span>СВЯЗАТЬСЯ С НАМИ</span>
          <img src="assets/images/arrow-right.svg"/>
        </a>
      </div>
    </div>
    <div class="first-section__picture">
      <img src="assets/images/main-section.jpg"/>
    </div>
  </div>
</div>
